<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="localhost_LOSA_Connection" connectionString="XpoProvider=MSSqlServer;data source=AQFSVR003;user id=;password=;initial catalog=LOSA;Persist Security Info=true" />
    <add name="localhost_LOSA_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=AQFSVR003;user id=;password=;initial catalog=LOSA;Persist Security Info=true" />
    <add name="localhost_LOSA_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=AQFSVR003;user id=sa;password=AquaF33dHN2014;initial catalog=LOSA;Persist Security Info=true" />
    <add name="localhost_LOSA_Connection_aqfsvr010" connectionString="XpoProvider=MSSqlServer;data source=AQFSVR010\AQFSVR010;user id=losa_user_db;password=AquaF33dHN2014;initial catalog=LOSA;Persist Security Info=true" />
    <add name="localhost_ACS_ConnectionAQFSVR010" connectionString="XpoProvider=MSSqlServer;data source=10.50.11.35\AQFSVR010;user id=losa_user_db;password=AquaF33dHN2014;initial catalog=ACS;Persist Security Info=true" />
    <add name="localhost_ACS_Connection_9SSCBV2" connectionString="XpoProvider=MSSqlServer;data source=9SSCBV2\SQL_9SSCBV2;user id=sa;password=G3n3R@c10n2023&amp;;initial catalog=ACS;Persist Security Info=true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="MyConnectionBDBascula" value="Data Source=ADRE5079CP\MSSEXPRESSS2014;Initial Catalog=BASCULA_DEV;Trusted_Connection=True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2938.0" newVersion="5.0.2938.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
